/ast.js~
/lexer.js~
/parser.js~
/test_lexer.js~
/test_parser.js~
/todo.org
/todo.org~
/lexer.js.tmp
/equation.js~
/math_operators.js~
/test_equation.js~
/NOTES
/NOTES~
/predicates.js~
/procedures.js~
/lambda.js~
/tools.js~
/translate.js~
/test_translate.js~
/test_lambda.js~
/.emacs.desktop
/.emacs.desktop.lock
/define.js~
/define_syntax.js~
/macro_expand.js~
/tests/test_macros.js~
/tests/tests.js~
